@font-face {
  font-family: 'Cuprum';
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/cuprum.woff") format('woff'), url("../fonts/cuprum.woff2") format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: bold;
  font-style: normal;

  src: url("../fonts/cuprumbold.woff") format('woff'), url("../fonts/cuprumbold.woff2") format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: normal;
  font-style: italic;

  src: url("../fonts/cuprumitalic.woff") format('woff'), url("../fonts/cuprumitalic.woff2") format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: bold;
  font-style: italic;

  src: url("../fonts/cuprumbolditalic.woff") format('woff'), url("../fonts/cuprumbolditalic.woff2") format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/ptsans.woff") format('woff'), url("../fonts/ptsans.woff2") format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: normal;

  src: url("../fonts/ptsansbold.woff") format('woff'), url("../fonts/ptsansbold.woff2") format('woff2');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 960px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;

  color: #000000;
  background-color: #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;

  padding: 10px 25px;

  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.btn:focus,
.btn:hover {
  color: #ffffff;
  outline: none;
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn--green {
  background-color: #63a63e;
  -webkit-box-shadow: 0 3px 0 0 #367316;
  box-shadow: 0 3px 0 0 #367316;
}

.btn--green:focus,
.btn--green:hover {
  background-color: #5fbb2d;
}

.btn--green:active {
  background-color: #518534;
  -webkit-box-shadow: 0 3px 0 0 #518534;
  box-shadow: 0 3px 0 0 #518534;
}

.btn--green-border {
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.btn--green-border:focus,
.btn--green-border:hover {
  color: #32425c;
  border: 3px solid #32425c;
  background-color: #ffffff;
}

.btn--green-border:active {
  opacity: 0.3;
  background-color: #ffffff;
}

.main-header {
  margin-bottom: 60px;
  padding-bottom: 60px;

  background-color: #f3f7f8;
}

.inner-page__main-header {
  margin-bottom: 20px;
}

.main-header__wrappre {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header__column {
  width: 300px;
}

.site-logo {
  display: block;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;
}

.site-logo:focus,
.site-logo:hover {
  outline: none;
  background-color: #ca2c37;
}

.site-logo:active {
  background-color: #ba2732;
}

.main-header__logo {
  width: 220px;
  height: 42px;
  padding: 12px 0;

  text-align: center;
}

.shop-nav {
  margin-bottom: 46px;

  color: #ffffff;
  background-color: #293449;

  font-size: 17px;
  line-height: 18px;
}

.shop-nav__container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shop-nav__link {
  position: relative;

  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;

  text-align: center;

  color: #ffffff;
  background-color: #293449;
}

.shop-nav__link:focus,
.shop-nav__link:hover {
  outline: none;
  background-color: #212a3a;
}

.shop-nav__link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.shop-nav__search-form {
  margin: 0;
  padding: 0;
}

.shop-nav__search {
  position: relative;

  margin: 0;
  padding: 0;
}

.shop-nav__icon-search {
  position: absolute;
  top: 50%;
  left: 17px;

  display: block;

  width: 17px;
  height: 17px;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  opacity: 0.3;

  fill: #ffffff;
}

.shop-nav__search:hover .shop-nav__icon-search {
  opacity: 1;
}

.shop-nav__search-input {
  width: 270px;
  padding: 12px 15px 12px 50px;

  vertical-align: middle;

  color: #ffffff;
  border: none;
  background-color: transparent;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.shop-nav__search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input::-moz-placeholder {
  color: #ffffff;
}

.shop-nav__search-input:-ms-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input::-ms-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input::placeholder {
  color: #ffffff;
}

.shop-nav__search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input::-moz-placeholder {
  color: #ffffff;
}

.shop-nav__search-input:-moz-placeholder {
  color: #ffffff;
}

.shop-nav__search-input:-ms-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input:hover {
  background-color: #212a3a;
}

.shop-nav__search-input:focus {
  color: #000000;
  outline: none;
  background-color: #ffffff;
}

.shop-nav__search-input:focus + .shop-nav__icon-search {
  opacity: 1;

  fill: #ee3643;
}

.shop-nav__search-input:focus::-webkit-input-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::-moz-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus:-ms-input-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::-ms-input-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::-webkit-input-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::-moz-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus:-moz-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus:-ms-input-placeholder {
  color: #000000;
}

.shop-nav__bookmarks {}

.shop-nav__bookmarks--not-empty {
  background-color: #ee3643;
}

.shop-nav__bookmarks::before {
  position: absolute;
  top: 50%;
  left: 17px;

  display: block;

  width: 14px;
  height: 16px;

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  opacity: 0.3;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shop-nav__bookmarks:focus::before,
.shop-nav__bookmarks:hover::before {
  opacity: 1;
}

.shop-nav__bookmarks:active::before {
  opacity: 0.5;
}

.shop-nav__cart {}

.shop-nav__cart--not-empty {
  background-color: #ee3643;
}

.shop-nav__cart::before {
  position: absolute;
  top: 50%;
  left: 18px;

  display: block;

  width: 15px;
  height: 15px;

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  opacity: 0.3;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shop-nav__cart:focus::before,
.shop-nav__cart:hover::before {
  opacity: 1;
}

.shop-nav__cart:active::before {
  opacity: 0.5;
}

.shop-nav__order {
  background-color: #63a63e;
}

.shop-nav__order:focus,
.shop-nav__order:hover {
  background-color: #5fbb2d;
}

.shop-nav__order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.main-header__info {
  margin: 0 0 44px;
  padding: 0 50px;

  color: #ee3643;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.main-header__contacts {
  padding-right: 30px;

  text-align: center;

  color: #32425c;

  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}

.main-header__phone {
  position: relative;

  display: block;

  width: 270px;
  padding: 9px 25px 9px 71px;

  text-align: left;

  color: #ee3643;
  border: 3px solid #ffffff;

  font-size: 21px;
  line-height: 21px;
}

.main-header__phone::before {
  position: absolute;
  top: 50%;
  left: 15px;

  display: block;

  width: 19px;
  height: 19px;

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-nav__btn {
  position: relative;

  display: block;

  margin: 0 0 10px;
  padding: 12px 25px;

  text-transform: none;

  color: #000000;
  background-color: #ffffff;

  font-size: 21px;
  line-height: 21px;
}

.user-nav__btn:focus,
.user-nav__btn:hover {
  color: #ee3643;
  outline: none;
  background-color: #ffffff;
}

.user-nav__btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.user-nav__login {
  margin-left: 20px;
  padding-left: 48px;
}

.user-nav__icon-login {
  position: absolute;
  top: 50%;
  left: 14px;

  width: 20px;
  height: 17px;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  fill: #c5c5c5;
}

.user-nav__login:focus .user-nav__icon-login,
.user-nav__login:hover .user-nav__icon-login {
  fill: #32425c;
}

.user-nav__login:active .user-nav__icon-login {
  fill: #c5c5c5;
}

.user-nav__user-name {
  /* Поставил ширину потому что какойто фантомный пиксель
    мешает при подстройке отступов, ставлю на 1 больше
    переходит на другую строку, ставлю на 1 меньше
    появляется дырка */
  width: 250px;
  padding-right: 17px;
  padding-left: 47px;
}

.user-nav__user-name:focus,
.user-nav__user-name:hover {
  color: #000000;
}

.user-nav__user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__icon-user {
  position: absolute;
  top: 50%;
  left: 13px;

  width: 20px;
  height: 18px;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  fill: #c5c5c5;
}

.user-nav__user-name:focus .user-nav__icon-user,
.user-nav__user-name:hover .user-nav__icon-user {
  fill: #32425c;
}

.user-nav__user-name:active .user-nav__icon-user {
  fill: #c5c5c5;
}

.user-nav__logout {
  width: 50px;

}

.user-nav__icon-logout {
  position: absolute;
  top: 50%;
  right: 10px;

  width: 20px;
  height: 17px;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  fill: #c5c5c5;
}

.user-nav__logout:focus .user-nav__icon-logout,
.user-nav__logout:hover .user-nav__icon-logout {
  fill: #32425c;
}

.user-nav__logout:active .user-nav__icon-logout {
  fill: #c5c5c5;
}

.user-nav__links {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0 0 0 17px;

  list-style: none;
}

.user-nav__links-item {
  position: relative;

  margin-right: 30px;
}

.user-nav__links-item::after {
  position: absolute;
  top: 50%;
  right: -15px;

  display: block;

  width: 5px;
  height: 5px;

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  border-radius: 50%;
  background-color: #32425c;
}

.user-nav__links-item:last-child::after {
  display: none;
}

.user-nav__link {
  text-decoration: underline;

  color: #32425c;

  font-size: 16px;
  line-height: 18px;
}

.user-nav__link:hover {
  color: #ee3643;
}

.user-nav__link:active {
  opacity: 0.3;
  color: #000000;
}

.site-nav {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0 20px;

  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: 0 5px 0 0 #293449;
  box-shadow: 0 5px 0 0 #293449;

  font-size: 17px;
  line-height: 17px;
}

.site-nav__link {
  display: block;

  padding: 20px 31px 18px 30px;

  color: #ffffff;
  background-color: #32425c;

  font-size: 17px;
  line-height: 17px;
}

.site-nav__link:focus,
.site-nav__link:hover {
  outline: none;
  background-color: #293449;
}

.site-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* Стили контента */
.main-content-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-bottom: 53px;
}

.promo__item {
  position: relative;

  width: 300px;
  margin-bottom: 20px;
  padding: 20px 22px 23px;

  color: #ffffff;
  background-color: #ffbf47;
}

.promo__item--materials {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo__item--instruments {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.promo__item--tech {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo__item--sales {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.promo__item--delivery {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.promo__text {
  margin: 0;
  padding: 0;

  color: #ffffff;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.promo__btn {
  width: 135px;
  margin-top: 12px;
  padding-right: 10px;
  padding-left: 10px;

  text-transform: uppercase;

  background-color: rgba(0,0,0,0.1);

  font-size: 14px;
  line-height: 18px;
}

.promo__btn:focus,
.promo__btn:hover {
  background-color: rgba(0,0,0,0.2);
}

.promo__btn:active {
  background-color: rgba(0,0,0,0.3);
}

.promo__slider {}

.slider {
  position: relative;

  overflow: hidden;

  width: 620px;
}

.slider__item {
  position: absolute;
  z-index: 1;

  margin-bottom: 20px;

  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

  opacity: 0;
  color: #ffffff;
  background-color: #685c53;
}

.slider__item--show {
  z-index: 5;

  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

  opacity: 1;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
}

.slider__content {
  position: relative;

  width: 100%;
  min-height: 266px;
  padding: 22px 25px 80px;

  color: #ffffff;
}

.slider__title {
  margin: 0 0 2px;
  padding: 0;

  text-transform: uppercase;

  font-size: 36px;
  line-height: 36px;
}

.slider__text {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
}

.slider__btn {
  position: absolute;
  bottom: 22px;
}

.slider__control {
  position: absolute;
  z-index: 10;

  display: block;

  width: 22px;
  height: 40px;

  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center center;
}

.slider__control--prev {
  top: 50%;
  left: 25px;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background-image: url("../img/icon-left.svg");
}

.slider__control--next {
  top: 50%;
  right: 25px;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background-image: url("../img/icon-right.svg");
}

.slider__dots {
  position: absolute;
  z-index: 10;
  bottom: 46px;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider__dot {
  position: relative;

  width: 10px;
  height: 10px;
  margin-left: 10px;

  cursor: pointer;

  border-radius: 50%;
  background-color: #ffffff;
}

.slider__dot--active::before {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 6px;
  height: 6px;

  content: "";
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background-color: #ee3643;
}

.promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-top-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-bottom: 20px;
  padding: 25px;

  background-color: #f9f5f0;
}

.section-title {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #32425c;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

.section-top-wrapper .btn {
  width: 253px;
}

.popular-product {}

.popular-product__title {
  margin-top: 5px;
}

.products {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.products__item {
  position: relative;

  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 220px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.products__item--new::after,
.promo__item--new::after {
  position: absolute;
  top: 0;
  right: 0;

  overflow: hidden;

  width: 60px;
  height: 60px;

  content: "";

  background-image: url("../img/new-item.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products__item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.products__title {
  margin: 0 0 10px;
  padding: 0 20px;

  text-align: center;

  font-size: 18px;
  line-height: 20px;
}

.products__image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.products__price-info {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-top: auto;

  text-transform: uppercase;

  font-size: 17px;
  line-height: 18px;
}

.products__discount {
  margin-bottom: 10px;

  color: #a9a9a9;
}

.products__price {
  display: block;

  padding: 10px 40px 10px 36px;

  text-decoration: none;

  color: #ffffff;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products__get {
  position: absolute;

  display: none;

  width: 100%;
  padding: 45px 41px 31px;

  background-color: #ffffff;
}

.products__item:hover .products__get {
  display: block;
}

.products__buy {
  position: relative;

  display: block;

  margin-bottom: 10px;
}

.products__buy::before {
  position: absolute;
  top: 50%;
  left: 14px;

  display: block;

  width: 15px;
  height: 15px;

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  opacity: 0.3;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products__buy:hover::before {
  opacity: 1;
}

.products__add-bookmark {
  display: block;
}

.popular-manufacturer {
  margin-bottom: 65px;
}

.popular-manufacturer__title {
  margin-top: 5px;
}

.popular-manufacturer__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-manufacturer__item {
  margin-bottom: 20px;
}

.popular-manufacturer__link {
  display: block;

  width: 220px;
  height: 145px;

  text-align: center;

  border: 1px solid #eaeaea;

  line-height: 145px;
}

.popular-manufacturer__link:focus,
.popular-manufacturer__link:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-manufacturer__link:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.popular-manufacturer__link img {
  vertical-align: middle;
}

.services {
  margin-bottom: 80px;
  padding-top: 65px;

  background-color: #f4f8f9;
}

.services__wrapper {}

.services__title {
  margin-bottom: 25px;
}

.services__info {
  width: 410px;
  margin: 0 0 68px;
  padding: 0;

  font-family: "PT Sans","Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.menu-services {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;

  color: #32425c;

  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.menu-services::after {
  position: absolute;
  top: 50%;
  right: 0;

  display: block;

  width: 10px;
  height: 279px;

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background-image: url("../img/service-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__list {
  margin-right: 80px;
  margin-bottom: 100px;
}

.menu-services__item {
  width: 240px;
  padding: 15px 22px 18px;

  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
  box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.menu-services__item:focus,
.menu-services__item:hover {
  color: #ffffff;
  background-color: #293449;
}

.menu-services__item--active {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menu-services__desc {
  position: relative;

  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  width: auto;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-services__desc-item {
  position: absolute;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  opacity: 0;
  color: #000000;
}

.menu-services__desc-item--show {
  position: relative;

  opacity: 1;
}

.menu-services__desc-item--delivery {
  background-image: url("../img/illustration-delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 25px;
}

.menu-services__desc-item--guarantee {
  background-image: url("../img/illustration-guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.menu-services__desc-item--credit {
  background-image: url("../img/illustration-credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.menu-services__title {
  margin: 0 0 24px;
  padding: 0;

  text-transform: uppercase;

  color: #32425c;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.menu-services__text {
  width: 320px;
  margin: 0 0 30px;

  font-family: "PT Sans - Regular","Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us {
  width: 540px;
}

.about-us__title {
  margin-bottom: 24px;
}

.about-us__text {
  margin: 0 0 25px;
  padding: 0;

  font-family: "PT Sans","Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us__text:last-of-type {
  margin-bottom: 20px;
}

.about-us__partners-list {
  margin: 0 0 37px;
  padding: 0;

  list-style: none;

  font-size: 18px;
  line-height: 20px;
}

.about-us__partners-item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 36px;
}

.about-us__partners-item::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  content: "";

  background-color: #ee3643;
}

.about-us__detailed {
  width: 220px;
}

.contacts__title {
  margin-bottom: 24px;
}

.contacts__text {
  width: 200px;
  margin: 0 0 32px;
  padding: 0;

  font-family: "PT Sans","Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.contacts__map {
  width: 300px;
  height: 158px;
  margin: 0 0 40px;
  padding: 0;
}

.contacts__write-us {
  display: block;
}

.breadcrumbs {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0 0 21px;
  padding: 0;

  list-style: none;

  text-transform: uppercase;

  color: #000000;

  font-family: "PT Sans","Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs__item::after {
  position: absolute;
  top: 50%;
  right: -25px;

  width: 8px;
  height: 12px;

  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  display: block;

  color: #000000;
}

.breadcrumbs__link--home {
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page__title {
  margin: 0 0 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;
  padding-left: 28px;

  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;

  font-size: 30px;
  line-height: 30px;
}

.filters {
  width: 220px;

  font-family: "PT Sans","Cuprum", Arial, sans-serif;
}

.filters__title {
  margin: 0 0 20px;
  padding: 10px 18px;

  text-transform: uppercase;

  background-color: #f7f3ec;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.filters__group {
  margin: 0 0 20px;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters__title-group {
  margin-bottom: 20px;

  text-transform: uppercase;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.price-filter__range-controls {
  position: relative;

  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  padding: 1px 20px 0;

  border-radius: 2px;
  background-color: #f7f3ec;
}

.range-controls__scale {
  height: 2px;
  margin-top: 38px;

  background-color: #d7dcde;
}

.range-controls__bar {
  height: 2px;
  margin-right: 28px;

  background-color: #00ca74;
}

.range-controls__toggle {
  position: absolute;
  top: 30px;
  left: 20px;

  width: 20px;
  height: 20px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 0 0 #e0ddd8;
  box-shadow: 0 2px 0 0 #e0ddd8;
}

.range-controls__toggle--max {
  left: 160px;
}

.price-filter__value-range {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0 0 25px;
  padding: 0;
}

.price-filter__max,
.price-filter__min {
  width: 95px;
  padding: 10px;

  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 2px;
  background-color: #f7f3ec;

  font-family: "PT Sans","Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.filters__list {
  margin: 0 0 20px;
  padding: 0;

  list-style: none;

  text-transform: uppercase;

  border-radius: 2px;

  font-family: "PT Sans","Cuprum", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.filters__item {
  margin-bottom: 17px;
}

.filters__checkbox {}

.filters__label-checkbox {
  position: relative;

  padding-left: 35px;
}

.filters__label-checkbox::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 27px;
  height: 23px;

  content: "";

  opacity: 0.7;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*
  В ручную сделанные чекбоксы

.filters__label-checkbox::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  border: 2px solid #c5c5c5;
  width: 23px;
  height: 23px;
  border-radius: 2px;
  content: "";

}

  Галочка для чекбокса. Не получается сделать обводку, stroke уменьшает толщину линии

.filters__label-checkbox::after {
  position: absolute;
  top: 1px;
  left: 4px;

  display: block;

  width: 23px;
  height: 17px;
  content: "";
  background-image: url("../img/icon-checkbox-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
} */

.filters__checkbox:checked+.filters__label-checkbox::before {
  background-image: url("../img/checkbox-on.svg");
}

.filters__label-checkbox:hover::before {
  opacity: 1;
}

.filters__checkbox:disabled+.filters__label-checkbox,
.filters__label-checkbox--disabled {
  opacity: 0.3;
}

.filters__radio {}

.filters__label-radio {
  position: relative;

  padding-left: 35px;
}

.filters__label-radio::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 25px;
  height: 25px;

  content: "";

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filters__label-radio::after {
  position: absolute;
  top: 8px;
  left: 8px;

  display: block;
  display: none;

  width: 9px;
  height: 9px;

  content: "";

  border-radius: 50%;
  background-color: #c5c5c5;
}

.filters__radio:checked+.filters__label-radio::after {
  display: block;
}

.filters__label-radio:hover::before {
  border-color: #b5b5b5;
}

.filters__label-radio--disabled,
.filters__radio:disabled+.filters__label-radio {
  opacity: 0.3;
}

.catalog {
  margin-left: 20px;
}

.catalog__sort {
  margin-bottom: 20px;

  text-transform: uppercase;

  font-family: "PT Sans","Cuprum", Arial, sans-serif;
}

.sorting {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 10px 18px;

  background-color: #f7f3ec;

  font-size: 13px;
  line-height: 18px;
}

.sorting__title {
  margin: 0;
  padding: 0;
}

.sorting-nav {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}


.sorting-nav__link {
  margin-right: 65px;

  opacity: 0.3;
  color: #000000;
  border-bottom: 1px dotted #ee3643;
}

.sorting-nav__link:focus,
.sorting-nav__link:hover {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.sorting-nav__link--active {
  opacity: 1;
  color: #ee3643;
  border: none;
}

.sorting-nav__toggle {
  display: block;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.sorting-nav__toggle--up {
  border-top-width: 0;
  border-bottom: 10px solid #ee3643;
}

.sorting-nav__toggle--down {
  border-top: 10px solid #ee3643;
  border-bottom-width: 0;
}

.catalog__list {
  margin-bottom: 52px;
}

.pagination {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0 0 60px;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 10px;

  text-transform: uppercase;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.pagination__link {
  display: block;

  padding: 9px 14px;

  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;

}

.pagination__link:focus,
.pagination__link:hover {
  border-color: #bdc6ca;
}

.pagination__link:active {
  border-color: #ee3643;
}

.pagination__link--current {
  color: #ffffff;
  border-color: #ee3643;
  background-color: #ee3643;
}

.category-info {
  padding-top: 65px;
  padding-bottom: 70px;

  background-color: #f2f6f8;
}

.category-info__title {
  margin: 0 0 30px;
  padding: 0;

  text-transform: uppercase;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.category-info__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

/* Стили подвала */
.main-footer {
  margin-top: 86px;

  background-color: #32425c;
}

.inner-page__main-footer {
  margin-top: 0;
}

.main-footer__container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-footer__contacts {
  margin-bottom: 50px;
}

.main-footer__logo {
  width: 220px;
  margin-bottom: 33px;

  text-align: center;

  line-height: 63px;
}

.main-footer__logo img {
  vertical-align: middle;
}

.main-footer__address {
  color: #ffffff;

  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.footer-site-nav {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  margin: 38px 0 35px;

}


.footer-site-nav__link {
  margin-left: 60px;

  color: #f1f5f7;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-site-nav--yellow-text {
  margin-top: 0;
}

.footer-site-nav--yellow-text .footer-site-nav__link {
  color: #ffd180;
}

.footer-site-nav__link:focus,
.footer-site-nav__link:hover {
  text-decoration: underline;
}

.footer-site-nav__link:active {
  text-decoration: none;

  opacity: 0.5;
}

.main-footer__copyright {
  padding-top: 35px;
  padding-bottom: 30px;

  color: #ffffff;
  background-color: #293449;

  font-size: 16px;
  line-height: 18px;
}

.copyright__company {
  width: 240px;
  margin: 0 150px 0 0;
}

.social {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 3px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;

  display: block;

  width: 42px;
  height: 42px;

  color: #ffffff;
  border-radius: 50%;
  background-color: #212a3a;
}

.social__link:focus,
.social__link:hover {
  background-color: #ee3643;
}

.social__link::before {
  position: absolute;

  display: block;

  width: 42px;
  height: 42px;

  content: "";

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--vk::before {
  background-image: url("../img/icon-vk.svg");
}

.social__link--fb::before {
  background-image: url("../img/icon-fb.svg");
}

.social__link--inst::before {
  background-image: url("../img/icon-insta.svg");
}

.copyright__author {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-left: auto;
}

.copyright__mail {
  width: 160px;
  margin: 0 29px 0 0;
  padding: 0;
}

.copyright__site {
  width: 110px;
  margin: 0;
  padding: 0;
}

.copyright__link {
  display: block;

  color: #ffd180;
}

.copyright__link:hover {
  text-decoration: underline;
}

.copyright__link:active {
  text-decoration: none;

  color: #ee3643;
}

/* Модальные окна */
.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  display: none;

  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.modal--show {
  display: block;
}

.modal__close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-map {
  background-color: #565656;
  -webkit-box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.modal-map__image {
  width: 940px;
  height: 447px;
  margin: 0;
  padding: 0;
}

.modal-write-us {
  width: 620px;

  border-top: 7px solid #ff5257;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

  font-size: 18px;
  line-height: 18px;
}

.modal__wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 45px 80px 37px;
}

.modal__wrapper--gray {
  padding-top: 37px;

  background-color: #f4f4f4;
}

.modal-write-us__form {
  margin: 0;
  padding: 0;
}

.modal-write-us__label {}

.modal-write-us__email,
.modal-write-us__name {
  margin: 0 0 15px;
  padding: 0;
}

.modal-write-us__message {
  margin: 0;
  padding: 0;
}

.modal-write-us__email-input,
.modal-write-us__name-input {
  display: block;

  width: 220px;
  margin-top: 10px;
  padding: 8px 14px;

  color: #999999;
  border: 2px solid #dee3e4;
  border-radius: 2px;

  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
}

.modal-write-us__message-input {
  width: 100%;
  height: 114px;
  margin: 10px 0 0;
  padding: 8px 14px;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal-write-us__email-input:hover,
.modal-write-us__message-input:hover,
.modal-write-us__name-input:hover {
  border: 2px solid #b5b5b5;
}

.modal-write-us__email-input:focus,
.modal-write-us__message-input:focus,
.modal-write-us__name-input:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.modal-write-us__btn {
  width: 100%;
}

.modal-add-in-cart {
  width: 620px;

  border-top: 7px solid #ff5257;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-add-in-cart__title {
  position: relative;

  margin: 0 0 30px;
  padding: 20px 0 0 100px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.modal-add-in-cart__title::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 66px;
  height: 66px;

  content: "";

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-add-in-cart__btn {
  width: 220px;
}

.modal-add-in-cart__btn--continue {
  color: #000000;
  background-color: #ffffff;
}
