/*
.btn {
  display         : inline-block;

  padding         : 10px 25px;

  text-decoration : none;
  text-transform  : uppercase;

  color           : white;
  border-radius   : 5px;
  background-color: rgba(0,0,0,0.1);

  font-size       : 14px;
  font-weight     : normal;
  line-height     : 18px;
}

.btn--red {
  background-color: #ee3643;
}

.promo {
  display     : flex;
  flex-wrap   : wrap;

  width       : 960px;
  margin      : auto;
  padding-left: -20px;

  font-family : 'Cuprum', sans-serif;
}

.promo_wrap {
  display       : flex;
  flex-direction: column;
}

.promo__item {
  flex-grow       : 1;

  box-sizing      : border-box;
  width           : 300px;
  margin-right    : 20px;
  margin-bottom   : 20px;
  padding         : 22px 70px 22px 25px;

  color           : white;
  background-color: #ffbf47;

  font-weight     : bold;
}

.promo__item--materials {}

.promo__item--instruments {
  background-color: #3bbce3;
}

.promo__item--tech {
  background-color: #dc91d8;
}

.promo__item--sales {
  background-color: #8ed78f;
}

.promo__text {
  margin     : 0;
  padding    : 0;

  font-size  : 24px;
  line-height: 30px;
}

.promo__btn {
  margin-top: 10px;
}

.promo__slider {
  position    : relative;

  overflow    : hidden;

  width       : 620px;
  margin-right: 20px;
}

.slider__item {
  position        : absolute;
  z-index         : 1;

  margin-bottom   : 20px;

  color           : white;
  background-color: gray;
}

.slider__content {
  position  : relative;

  box-sizing: border-box;
  width     : 100%;
  min-height: 266px;
  padding   : 22px 25px 80px;
}

.slider__title {
  margin     : 0 0 5px;
  padding    : 0;

  font-size  : 36px;
  line-height: 36px;
}

.slider__text {
  margin     : 0;
  padding    : 0;

  font-size  : 18px;
  line-height: 24px;
}

.slider__image {
  position: absolute;
  top     : 0;
  left    : 0;

  margin  : 0;
  padding : 0;
}

.slider__btn {
  position: absolute;
  bottom  : 22px;
}

.slider__control {
  position           : absolute;
  z-index            : 10;

  display            : block;

  width              : 22px;
  height             : 40px;

  cursor             : pointer;

  background-image   : url("https://cdn2.iconfinder.com/data/icons/web-iconset-pt-3/100/110_-_Play-512.png");
  background-repeat  : no-repeat;
  background-position: center center;
  background-size    : 70px 90px;
}

.slider__control--prev {
  top      : 50%;
  left     : 25px;

  transform: rotate(180deg) translateY(50%);
}

.slider__control--next {
  top      : 50%;
  right    : 25px;

  transform: translateY(-50%);
}

.slider__item--show {
  z-index: 5;
}

.slider_dots {
  position  : absolute;
  z-index   : 10;
  bottom    : 46px;
  left      : 50%;

  display   : flex;

  margin    : 0;
  padding   : 0;

  list-style: none;

  transform : translateX(-50%);
}

.slider__dot {
  position        : relative;

  width           : 10px;
  height          : 10px;
  margin-left     : 10px;

  cursor          : pointer;

  border-radius   : 50%;
  background-color: white;
}

.slider__dot--active:before {
  position        : absolute;
  top             : 50%;
  left            : 50%;

  display         : block;

  width           : 6px;
  height          : 6px;

  content         : "";
  transform       : translate(-50%, -50%);

  border-radius   : 50%;
  background-color: #ee3643;
}
*/
