@font-face {
  font-family: 'Cuprum';
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/cuprum.woff") format('woff'), url("../fonts/cuprum.woff2") format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: bold;
  font-style: normal;

  src: url("../fonts/cuprumbold.woff") format('woff'), url("../fonts/cuprumbold.woff2") format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: normal;
  font-style: italic;

  src: url("../fonts/cuprumitalic.woff") format('woff'), url("../fonts/cuprumitalic.woff2") format('woff2');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: bold;
  font-style: italic;

  src: url("../fonts/cuprumbolditalic.woff") format('woff'), url("../fonts/cuprumbolditalic.woff2") format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/ptsans.woff") format('woff'), url("../fonts/ptsans.woff2") format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: normal;

  src: url("../fonts/ptsansbold.woff") format('woff'), url("../fonts/ptsansbold.woff2") format('woff2');
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 960px;
}

*,
*:after,
*:before,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;

  color: #000000;
  background-color: #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;

  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 20px;

	cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.btn:focus,
.btn:hover {
  color: #ffffff;

  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn--green {
  background-color: #63a63e;
  -webkit-box-shadow: 0 3px 0 0 #367316;
          box-shadow: 0 3px 0 0 #367316;
}

.btn--green:focus,
.btn--green:hover {
  background-color: #5fbb2d;
}

.btn--green:active {
  background-color: #518534;
  -webkit-box-shadow: 0 3px 0 0 #518534;
          box-shadow: 0 3px 0 0 #518534;
}

.btn--green-border {
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.btn--green-border:focus,
.btn--green-border:hover {
  color: #32425c;
  border: 3px solid #32425c;
  background-color: #ffffff;
}

.btn--green-border:active {
  opacity: 0.3;
  background-color: #ffffff;
}

.main-header {
  margin-bottom: 59px;
  padding-bottom: 65px;

  background-color: #f3f7f8;
}

.inner-page__main-header {
  margin-bottom: 22px;
}

.main-header__wrappre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-header__column {
  width: 300px;
}

.site-logo {
  display: block;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.site-logo:focus,
.site-logo:hover {
  background-color: #ca2c37;
}

.site-logo:active {
  background-color: #ba2732;
}

.main-header__logo {
  width: 220px;
  height: 42px;
  padding-top: 13px;

  text-align: center;
}

.main-header__logo-image {
  width: 109px;
  height: 19px;
}

.shop-nav {
  margin-bottom: 46px;

  color: #ffffff;
  color:#ffffff;
  background-color: #293449;

  font-size: 17px;
  line-height: 18px;
}

.shop-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
    -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.shop-nav__search-form {
  margin: 0;
  padding: 0;
}

.shop-nav__search {
  position: relative;

  margin: 0;
  padding: 0;
}

.shop-nav__icon-search {
  position: absolute;
  top: 50%;
  left: 17px;

  display: block;

  width: 17px;
  height: 17px;

  -webkit-transform: translateY(-9px);
      -ms-transform: translateY(-9px);
          transform: translateY(-9px);

  opacity: 0.3;

  fill: #ffffff;
}

.shop-nav__search:hover .shop-nav__icon-search {
  opacity: 1;
}

.shop-nav__search-input {
  width: 270px;
  padding-top:12px;
  padding-right:15px;
  padding-bottom:12px;
  padding-left:48px;

  vertical-align: middle;

  color: #ffffff;
  border: none;
  background-color: transparent;

  font:inherit;
}

.shop-nav__search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input::-moz-placeholder {
  color: #ffffff;
}

.shop-nav__search-input:-ms-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input::-ms-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input::placeholder {
  color: #ffffff;
}

.shop-nav__search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input::-moz-placeholder {
  color: #ffffff;
}

.shop-nav__search-input:-moz-placeholder {
  color: #ffffff;
}

.shop-nav__search-input:-ms-input-placeholder {
  color: #ffffff;
}

.shop-nav__search-input:hover {
  background-color: #212a3a;
}

.shop-nav__search-input:focus {
  color: #000000;

  background-color: #ffffff;
}

.shop-nav__search-input:focus + .shop-nav__icon-search {
  opacity: 1;

  fill: #ee3643;
}

.shop-nav__search-input:focus::-webkit-input-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::-moz-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus:-ms-input-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::-ms-input-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::-webkit-input-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus::-moz-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus:-moz-placeholder {
  color: #000000;
}

.shop-nav__search-input:focus:-ms-input-placeholder {
  color: #000000;
}

.shop-nav__link {
  position: relative;

  width: 150px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;

  color: #ffffff;
  background-color: #293449;
}

.shop-nav__link:focus,
.shop-nav__link:hover {
  background-color: #212a3a;
}

.shop-nav__link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}


.shop-nav__bookmarks {
  padding-left: 44px;
}

.shop-nav__bookmarks--not-empty {
  background-color: #ee3643;
}

.shop-nav__bookmarks:before {
  position: absolute;
  top: 50%;
  left: 17.5px;

  display: block;

  width: 14px;
  height: 16px;

  content: "";
  -webkit-transform: translateY(-9.5px);
      -ms-transform: translateY(-9.5px);
          transform: translateY(-9.5px);

  opacity: 0.3;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shop-nav__bookmarks:focus:before,
.shop-nav__bookmarks:hover:before {
  opacity: 1;
}

.shop-nav__bookmarks:active:before {
  opacity: 0.5;
}

.shop-nav__cart {
  padding-left: 49px;
}

.shop-nav__cart--not-empty {
  background-color: #ee3643;
}

.shop-nav__cart:before {
  position: absolute;
  top: 50%;
  left: 18px;

  display: block;

  width: 17px;
  height: 17px;

  content: "";
  -webkit-transform: translateY(-9px);
      -ms-transform: translateY(-9px);
          transform: translateY(-9px);

  opacity: 0.3;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shop-nav__cart:focus:before,
.shop-nav__cart:hover:before {
  opacity: 1;
}

.shop-nav__cart:active:before {
  opacity: 0.5;
}

.shop-nav__order {
  background-color: #63a63e;
}

.shop-nav__order:focus,
.shop-nav__order:hover {
  background-color: #5fbb2d;
}

.shop-nav__order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.main-header__info {
  margin: 0;
  margin-bottom: 40px;
	padding-top: 3px;
	padding-right: 50px;
	padding-bottom: 0;
	padding-left: 52px;

  color: #ee3643;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.main-header__contacts {
  padding-left: 10px;

  color: #32425c;

  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}

.main-header__phone {
  position: relative;

  display: block;

  width: 270px;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-left: 71px;

  text-align: left;

  color: #ee3643;
  border: 3px solid #ffffff;

  font-size: 21px;
  line-height: 21px;
}

.main-header__phone:before {
  position: absolute;
  top: 50%;
  left: 12px;

  display: block;

  width: 19px;
  height: 19px;

  content: "";
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

.user-nav__btn {
  position: relative;

  display: block;

  margin: 0;
  margin-bottom: 7.7px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;

  text-transform: none;

  color: #000000;
  background-color: #ffffff;

  font-size: 21px;
  line-height: 21px;
}

.user-nav__btn:focus,
.user-nav__btn:hover {
  color: #ee3643;

  background-color: #ffffff;
}

.user-nav__btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.user-nav__login {
  margin-left: 20px;
  padding-right: 26px;
  padding-left: 46px;
}

.user-nav__icon-login {
  position: absolute;
  top: 14px;
  left: 13px;

  width: 20px;
  height: 17px;

  fill: #c5c5c5;
}

.user-nav__login:focus .user-nav__icon-login,
.user-nav__login:hover .user-nav__icon-login {
  fill: #32425c;
}

.user-nav__login:active .user-nav__icon-login {
  fill: #c5c5c5;
}
.user-nav__registration {
  padding-right: 24px;
  padding-left: 24px;
}
.user-nav__user-name {
  width: 250px;
  padding-right: 17px;
  padding-left: 47px;
}

.user-nav__user-name:focus,
.user-nav__user-name:hover {
  color: #000000;
}

.user-nav__user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__icon-user {
  position: absolute;
  top: 50%;
  left: 13px;

  width: 20px;
  height: 18px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  fill: #c5c5c5;
}

.user-nav__user-name:focus .user-nav__icon-user,
.user-nav__user-name:hover .user-nav__icon-user {
  fill: #32425c;
}

.user-nav__user-name:active .user-nav__icon-user {
  fill: #c5c5c5;
}

.user-nav__logout {
  width: 50px;
}

.user-nav__icon-logout {
  position: absolute;
  top: 50%;
  right: 10px;

  width: 20px;
  height: 17px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  fill: #c5c5c5;
}

.user-nav__logout:focus .user-nav__icon-logout,
.user-nav__logout:hover .user-nav__icon-logout {
  fill: #32425c;
}

.user-nav__logout:active .user-nav__icon-logout {
  fill: #c5c5c5;
}

.user-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-left: 18px;
}

.user-nav__link {
  position: relative;

  margin-right: 33px;

  text-decoration: underline;

  color: #32425c;

  font-size: 16px;
  line-height: 18px;
}

.user-nav__link:after {
  position: absolute;
  top: 50%;
  right: -20px;

  display: block;

  width: 4px;
  height: 4px;

  content: "";
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  border-radius: 50%;
  background-color: #32425c;
}

.user-nav__link:last-child:after {
  display: none;
}

.user-nav__link:hover,
.user-nav__link:focus {
  color: #ee3643;
}

.user-nav__link:active {
  opacity: 0.3;
  color: #000000;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
    justify-content: flex-start;

  padding: 0;
  padding-right: 23px;
  padding-left: 21px;

  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: 0 5px 0 0 #293449;
          box-shadow: 0 5px 0 0 #293449;

  font-size: 17px;
  line-height: 17px;
}

.site-nav__link {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;

  text-align: center;

  color: #ffffff;
  background-color: #32425c;
}

.site-nav__link:focus,
.site-nav__link:hover {
  background-color: #293449;
}

.site-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* Стили контента */
.main-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo {
  margin-bottom: 33px;
}

.promo__inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

.promo__item {
  position: relative;

  width: 300px;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;

  color: #ffffff;
  background-color: #ffbf47;
}

.promo__item--materials {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo__item--instruments {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.promo__item--tech {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo__item--sales {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;

  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.promo__item--delivery {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;

  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.promo__text {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.promo__btn {
  display: block;

  width: 135px;
  padding-right: 10px;
  padding-left: 10px;

  background-color: rgba(0,0,0,0.1);
}

.promo__btn:focus,
.promo__btn:hover {
  background-color: rgba(0,0,0,0.2);
}

.promo__btn:active {
  background-color: rgba(0,0,0,0.3);
}

.slider {
  position: relative;

  overflow: hidden;

  width: 620px;
}

.slider__item {
  position: absolute;
  z-index: 1;

  width: 100%;

  opacity: 0;
  color: #ffffff;
  background-color: #685c53;
}

.slider__item--show {
  z-index: 5;

  opacity: 1;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
}

.slider__content {
  position: relative;

  min-height: 266px;
  padding-top: 23px;
  padding-right: 25px;
  padding-bottom: 80px;
  padding-left: 25px;
}

.slider__title {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  text-transform: uppercase;

  font-size: 36px;
  line-height: 36px;
}

.slider__text {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
}

.slider__btn {
  position: absolute;
  bottom: 22px;

  width: 195px;
  padding-left: 23px;
}

.slider__control {
  position: absolute;
  z-index: 10;

  display: block;

  width: 22px;
  height: 40px;

  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center center;
}

.slider__control--prev {
  top: 50%;
  left: 25px;

  -webkit-transform: translateY(-29px);
      -ms-transform: translateY(-29px);
          transform: translateY(-29px);

  background-image: url("../img/icon-left.svg");
}

.slider__control--next {
  top: 50%;
  right: 20px;

  -webkit-transform: translateY(-29px);
      -ms-transform: translateY(-29px);
          transform: translateY(-29px);

  background-image: url("../img/icon-right.svg");
}

.slider__dots {
  position: absolute;
  z-index: 10;
  bottom: 56px;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-transform: translateX(-25px);
      -ms-transform: translateX(-25px);
          transform: translateX(-25px);
}

.slider__dot {
  position: relative;

  width: 10px;
  height: 10px;
  margin-left: 10px;

  cursor: pointer;

  border-radius: 50%;
  background-color: #ffffff;
}

.slider__dot--active:before {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 6px;
  height: 6px;

  content: "";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  border-radius: 50%;
  background-color: #ee3643;
}

.promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;

  margin-bottom: 20px;
  padding: 25px;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 28px;

  background-color: #f9f5f0;
}

.section-title {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #32425c;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.section-top-wrapper .btn {
  width: 253px;
}

.popular-product {
  margin-bottom: 1px;
}

.popular-product__title {
	margin-top: 5px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.products__item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 220px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.products__item--new:after,
.promo__item--new:after {
  position: absolute;
  top: 0px;
  right: 0px;

  overflow: hidden;

  width: 60px;
  height: 60px;

  content: "";

  background-image: url("../img/new-item.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products__item--new:after {
	top: -1px;
	right: -1px;
}

.products__item:hover,
.products__item:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.products__title {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  font-size: 18px;
  line-height: 20px;
}

.products__image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
              order: -1;

	width: 218px;
	height: 170px;
	margin: 0;
  margin-bottom: 9px;
}

.products__price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
    justify-content: flex-end;

	margin: 0;
	margin-bottom: 20px;

  text-transform: uppercase;

  font-size: 17px;
  line-height: 18px;
}

.products__discount {
  margin-bottom: 10px;

  color: #a9a9a9;
}

.products__price {
  display: block;

	width: 150px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

	text-align:center;
  text-decoration: none;

  color: #ffffff;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: 8px 0;
}

.products__get {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  padding-top: 43px;
  padding-right: 42px;
  padding-bottom: 31px;
  padding-left: 41px;

  background-color: #ffffff;
}

.products__item:hover .products__get,
.products__item:focus .products__get {
  display: block;
}

.products__buy {
  position: relative;

  display: block;

  margin-bottom: 11px;
  padding-bottom: 6px;
  padding-left: 25px;
}

.products__buy:before {
  position: absolute;
  top: 50%;
  left: 14px;

  display: block;

  width: 15px;
  height: 15px;

  content: "";
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  opacity: 0.3;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products__buy:hover:before {
  opacity: 1;
}

.products__add-bookmark {
  display: block;

  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 25px;
}

.popular-manufacturer {
  margin-bottom: 65px;
}

.popular-manufacturer__title {
  margin-top: 5px;
}

.popular-manufacturer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-manufacturer__item {
  margin-bottom: 20px;
}

.popular-manufacturer__link {
  display: block;

  width: 220px;
  min-height: 145px;

  text-align: center;

  border: 1px solid #eaeaea;
}

.popular-manufacturer__link:focus,
.popular-manufacturer__link:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-manufacturer__link:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.popular-manufacturer__logo {
  display: block;

  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
}

.services {
  margin-bottom: 79px;
  padding-top: 65px;

  background-color: #f4f8f9;
}

.services__title {
  margin-bottom: 26px;

	color:#000000;
}

.services__info {
  width: 410px;
  margin: 0;
  margin-bottom: 67px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.menu-services {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;

  color: #32425c;

  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.menu-services:after {
  position: absolute;
  top: 50%;
  right: 0;

  display: block;

  width: 10px;
  height: 279px;

  content: "";
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  background-image: url("../img/service-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__list {
	margin-top: 2px;
  margin-right: 80px;
  margin-bottom: 98px;
}

.menu-services__item {
  width: 240px;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 18px;
  padding-left: 22px;

  cursor: pointer;

  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
          box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.menu-services__item:focus,
.menu-services__item:hover {
  color: #ffffff;
  background-color: #293449;
}

.menu-services__item--active {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-services__desc {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: auto;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-services__desc-item {
  position: absolute;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;

  opacity: 0;
  color: #000000;
}

.menu-services__desc-item--show {
  position: relative;

  opacity: 1;
}
.menu-services__btn {
  padding-right: 45px;
  padding-left: 45px;
}

.menu-services__desc-item--delivery {
  background-image: url("../img/illustration-delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 25px;
}

.menu-services__desc-item--guarantee {
  background-image: url("../img/illustration-guarantee.png");
  background-repeat: no-repeat;
  background-position: 239px 3px;
}

.menu-services__desc-item--credit {
  background-image: url("../img/illustration-credit.png");
  background-repeat: no-repeat;
  background-position: 165px 1px;
}

.menu-services__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  text-transform: uppercase;

  color: #32425c;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.menu-services__text {
  width: 320px;
  margin: 0;
	margin-bottom: 27px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us {
  width: 540px;
}

.about-us__title {
  margin-bottom: 26px;

	color:#000000;
}

.about-us__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us__text:last-of-type {
  margin-bottom: 20px;
}

.about-us__partners-list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;

  font-size: 18px;
  line-height: 19px;
}

.about-us__partners-item {
  position: relative;

  margin-bottom: 21px;
  padding-left: 36px;
}

.about-us__partners-item:before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  content: "";
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);

  background-color: #ee3643;
}

.about-us__detailed {
  width: 220px;
}

.contacts__title {
  margin-bottom: 26px;

	color:#000000;
}

.contacts__text {
  width: 200px;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.contacts__map {
  width: 300px;
  height: 158px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.contacts__write-us {
  display: block;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  list-style: none;

  text-transform: uppercase;

  color: #000000;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs__item:after {
  position: absolute;
  top: 50%;
  right: -25px;

  width: 8px;
  height: 12px;

  content: "";
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  color: #000000;
}

.breadcrumbs__link--home {
  display: block;

  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page__title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;
  padding-left: 28px;

  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;

  font-size: 30px;
  line-height: 30px;
}

.filters {
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
}

.filters__title {
  margin: 0;
  margin-bottom: 11px;
  padding-top: 11px;
  padding-right: 18px;
  padding-bottom: 9px;
  padding-left: 19px;

  text-transform: uppercase;

  background-color: #f7f3ec;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.filters__group {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters__group:last-of-type {
  margin-bottom: 56px;

  border-bottom:none;
}

.filters__group--manufacturer {
  margin-bottom: 17px;
}

.filters__title-group {
  margin-bottom: 14px;

  text-transform: uppercase;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.price-filter__range-controls {
  position: relative;

  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  border-radius: 2px;
  background-color: #f7f3ec;
}

.range-controls__scale {
  height: 2px;
  margin-top: 38px;

  background-color: #d7dcde;
}

.range-controls__bar {
  height: 2px;
  margin-right: 28px;

  background-color: #00ca74;
}

.range-controls__toggle {
  position: absolute;
  top: 30px;
  left: 20px;

  width: 20px;
  height: 20px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 0 0 #e0ddd8;
          box-shadow: 0 2px 0 0 #e0ddd8;
}

.range-controls__toggle--max {
  left: 160px;
}

.price-filter__value-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.price-filter__max,
.price-filter__min {
  width: 95px;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 10px;

  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 2px;
  background-color: #f7f3ec;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.filters__list {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  list-style: none;

  text-transform: uppercase;

  border-radius: 2px;

  font-size: 15px;
  line-height: 20px;
}

.filters__item {
  margin-bottom: 20px;
}

.filters__label-checkbox {
  position: relative;

  padding-left: 35px;
}

.filters__label-checkbox:before {
  position: absolute;
  top: -2px;
  left: 0;

  display: block;

  width: 27px;
  height: 23px;

  content: "";

  opacity: 0.79;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters__checkbox:checked+.filters__label-checkbox:before {
  background-image: url("../img/checkbox-on.svg");
}

.filters__label-checkbox:hover:before,
.filters__checkbox:focus+ .filters__label-checkbox:before{
  opacity: 1;
}

.filters__checkbox:disabled+.filters__label-checkbox,
.filters__label-checkbox--disabled {
  opacity: 0.4;
}

.filters__checkbox:disabled+.filters__label-checkbox:before,
.filters__label-checkbox--disabled:before {
  opacity: 0.3;
}

.filters__label-radio {
  position: relative;

  padding-left: 35px;
}

.filters__label-radio:before {
  position: absolute;
  top: -2px;
  left: -1px;

  display: block;

  width: 25px;
  height: 25px;

  content: "";

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filters__label-radio:after {
  position: absolute;
  top: 6px;
  left: 7px;

  display: none;

  width: 9px;
  height: 9px;

  content: "";

  border-radius: 50%;
  background-color: #c5c5c5;
}

.filters__radio:checked+.filters__label-radio:after {
  display: block;
}

.filters__label-radio:hover:before,
.filters__radio:focus+ .filters__label-radio:before{
  border-color: #b5b5b5;
}

.filters__label-radio--disabled,
.filters__radio:disabled+.filters__label-radio {
  opacity: 0.3;
}

.filters__btn {
  padding-top: 11px;
  padding-right: 38px;
  padding-bottom: 7px;
  padding-left: 39px;

  color:#000000;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.filters__btn:hover,
.filters__btn:focus {
  color:#000000;
  border-color: #bdc6ca;
  background-color: #ffffff;
}

.filters__btn:active {
  color:#000000;
  border-color: #ee3643;
  background-color: #ffffff;
}

.catalog {
  width:700px;
}

.catalog__sort {
  margin-bottom: 20px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;

  padding-top: 11px;
  padding-right: 18px;
  padding-bottom: 8px;
  padding-left: 18px;

  text-transform: uppercase;

  color:#000000;
  background-color: #f7f3ec;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting__title {
  margin: 0;
  padding: 0;
}

.sorting-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
    justify-content: flex-end;
}


.sorting-nav__link {
  margin-right: 65px;

  opacity: 0.3;
  color: #000000;
  border-bottom: 1px dotted #ee3643;
}

.sorting-nav__link--by-functions {
  margin-right: 47px;
}

.sorting-nav__link--by-price {
  margin-right: 71px;
}

.sorting-nav__link--active {
  opacity: 1;
  color: #ee3643;
  border: none;
}

.sorting-nav__link:focus,
.sorting-nav__link:hover {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}



.sorting-nav__toggle {
  display: block;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.sorting-nav__toggle--up {
  margin-right: 21px;
  margin-bottom: 6px;

  border-top-width: 0;
  border-bottom: 10px solid #c5c5c5;
}

.sorting-nav__toggle--up:hover,
.sorting-nav__toggle--up:focus {
	border-bottom-color:#231f20;
}

.sorting-nav__toggle--down {
  margin-top: 3px;

  border-top: 10px solid #c5c5c5;
  border-bottom-width: 0;
}

.sorting-nav__toggle--down:hover,
.sorting-nav__toggle--down:focus {
	border-top-color:#231f20;
}

.sorting-nav__toggle--up--active {
  border-bottom-color:#ee3643;
}

.sorting-nav__toggle--down--active {
  border-bottom-color:#ee3643;
}

.catalog__list {
  margin-bottom: 32px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;

  text-transform: uppercase;

  color: #000000;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__link {
  display: block;

  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 15px;

  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination__link--next {
  padding-right: 31px;
  padding-left: 31px;
}

.pagination__link:focus,
.pagination__link:hover {
  border-color: #bdc6ca;
}

.pagination__link:active {
  border-color: #ee3643;
}

.pagination__link--current {
  color: #ffffff;
  border-color: #ee3643;
  background-color: #ee3643;
}

.category-info {
  padding-top: 65px;
  padding-bottom: 68px;

  background-color: #f2f6f8;
}

.category-info__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  text-transform: uppercase;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.category-info__text {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Стили подвала */
.main-footer {
  margin-top: 86px;

  background-color: #32425c;
}

.inner-page__main-footer {
  margin-top: 0;
}

.main-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-footer__contacts {
  margin-bottom: 49px;
}

.main-footer__logo {
  width: 220px;
  margin-bottom: 33px;

  text-align: center;

  line-height: 63px;
}

.main-footer__logo img {
  vertical-align: middle;
}

.main-footer__address {
  margin-left: 5px;

  color: #ffffff;

  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.main-footer__phone {
  color: #ffffff;
}

.footer-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
    justify-content: flex-end;

  margin: 0;
  margin-top: 37px;
  margin-bottom: 35px;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}


.footer-site-nav__link {
  margin-left:59px;

  color: #f1f5f7;
}

.footer-site-nav--yellow-text {
  margin-top: 0;
}

.footer-site-nav--yellow-text .footer-site-nav__link {
  color: #ffd180;
}

.footer-site-nav__link:focus,
.footer-site-nav__link:hover {
  text-decoration: underline;
}

.footer-site-nav__link:active {
  text-decoration: none;

  opacity: 0.5;
}

.main-footer__copyright {
  padding-top: 35px;
  padding-bottom: 30px;

  color: #ffffff;
  background-color: #293449;

  font-size: 16px;
  line-height: 18px;
}

.copyright__company {
  width: 240px;
  margin: 0;
  margin-right: 150px;
  padding-top: 2px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  position: relative;

  display: block;

  width: 42px;
  height: 42px;
  margin-right: 3px;

  color: #ffffff;
  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 49% 48%;
}

.social__link:last-child {
  margin-right: 0;
}

.social__link:focus,
.social__link:hover {
  background-color: #ee3643;
}

.social__link--vk{
  background-image: url("../img/icon-vk.svg");
}

.social__link--fb{
  background-image: url("../img/icon-fb.svg");
}

.social__link--inst {
  background-image: url("../img/icon-insta.svg");
}

.copyright__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-left: auto;
  padding-top: 2px;
}

.copyright__mail {
  width: 160px;
  margin: 0;
  margin-right: 29px;
  padding: 0;
}

.copyright__site {
  width: 110px;
  margin: 0;
  padding: 0;
}

.copyright__link {
  display: block;

  color: #ffd180;
}

.copyright__link:hover {
  text-decoration: underline;
}

.copyright__link:active {
  text-decoration: none;

  color: #ee3643;
}


/* Модальные окна */
.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  display: none;

  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.modal--show {
  display: block;

  -webkit-animation: modal-animation-show 0.5s;
          animation: modal-animation-show 0.5s;
}

.modal__close {
  position: absolute;
  z-index: 10;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-map {
  background-color: #565656;
  -webkit-box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.modal-map__image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: block;

  width: 940px;
  height: 447px;
  margin: 0;
}

.modal-map__iframe {
  position: relative;
  z-index: 2;

  display: block;

  width: 940px;
  height: 447px;

  border: none;
}

.modal-write-us {
  width: 620px;

  border-top: 7px solid #ff5257;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

  font-size: 18px;
  line-height: 18px;
}

.modal-write-us--error {
  -webkit-animation: modal-animation-error 0.5s;
          animation: modal-animation-error 0.5s;
}

.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;

  padding-top: 46px;
  padding-right: 80px;
  padding-bottom: 33px;
  padding-left: 80px;
}

.modal__wrapper--gray {
  padding-top: 37px;
	padding-bottom: 37px;

  background-color: #f4f4f4;
}

.modal-write-us__form {
  margin: 0;
  padding: 0;
}

.modal-write-us__email,
.modal-write-us__name {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.modal-write-us__message {
  margin: 0;
  padding: 0;
}

.modal-write-us__email-input,
.modal-write-us__name-input {
  display: block;

  width: 220px;
  margin-top: 10px;
  padding: 8px 14px;

  color: #999999;
  border: 2px solid #dee3e4;
  border-radius: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.modal-write-us__message-input {
  width: 100%;
  height: 114px;
  margin: 0;
  margin-top: 10px;
  padding: 8px 14px;

  border: 2px solid #dee3e4;
  border-radius: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.modal-write-us__email-input:hover,
.modal-write-us__message-input:hover,
.modal-write-us__name-input:hover {
  border: 2px solid #b5b5b5;
}

.modal-write-us__email-input:focus,
.modal-write-us__message-input:focus,
.modal-write-us__name-input:focus {
  border: 2px solid #ee3643;

}

.modal-write-us__btn {
  width: 100%;
}

.modal-add-in-cart {
  width: 620px;

  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
          box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-add-in-cart__wrapper{
	padding-top: 45px;
}

.modal-add-in-cart__wrapper--gray {
	padding-top: 37px;
}

.modal-add-in-cart__title {
  position: relative;

  margin: 0;
  margin-bottom: 35px;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 100px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.modal-add-in-cart__title:before {
  position: absolute;
  top: 3px;
  left: 1px;

  display: block;

  width: 66px;
  height: 66px;

  content: "";

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-add-in-cart__btn {
  width: 220px;
}

.modal-add-in-cart__btn--continue {
  color: #000000;
  background-color: #ffffff;
}

/* Анимации для модальных окон */
@-webkit-keyframes modal-animation-show {
  0% {
    -webkit-transform:translateX(-50%) translateY(2000px);
            transform:translateX(-50%) translateY(2000px);
  }

  70% {
    -webkit-transform:translateX(-50%) translateY(-70%);
            transform:translateX(-50%) translateY(-70%);
  }

  90% {
    -webkit-transform:translateX(-50%) translateY(-40%);
            transform:translateX(-50%) translateY(-40%);
  }

  100% {
    -webkit-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
  }
}

@keyframes modal-animation-show {
  0% {
    -webkit-transform:translateX(-50%) translateY(2000px);
            transform:translateX(-50%) translateY(2000px);
  }

  70% {
    -webkit-transform:translateX(-50%) translateY(-70%);
            transform:translateX(-50%) translateY(-70%);
  }

  90% {
    -webkit-transform:translateX(-50%) translateY(-40%);
            transform:translateX(-50%) translateY(-40%);
  }

  100% {
    -webkit-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes modal-animation-error {
  0%,
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-55%) translateY(-50%);
            transform: translateX(-55%) translateY(-50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-45%) translateY(-50%);
            transform: translateX(-45%) translateY(-50%);
  }
}

@keyframes modal-animation-error {
  0%,
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-55%) translateY(-50%);
            transform: translateX(-55%) translateY(-50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-45%) translateY(-50%);
            transform: translateX(-45%) translateY(-50%);
  }
}
