.category-info {
  padding-top: 65px;
  padding-bottom: 68px;

  background-color: #f2f6f8;
}

.category-info__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  text-transform: uppercase;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.category-info__text {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
