.inner-page__main-header {
  margin-bottom: 22px;
}


.inner-page__title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;

  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;

  font-size: 30px;
  line-height: 30px;
}

.inner-page__main-footer {
  margin-top: 0;
}
