.services {
  margin-bottom: 79px;
  padding-top: 65px;
  padding-bottom: 99px;

  background-color: #f4f8f9;
}

.services__title {
  margin-bottom: 26px;

  color: #000000;
}

.services__info {
  width: 410px;
  margin: 0;
  margin-bottom: 67px;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services__list {
  margin-top: 2px;
  margin-right: 80px;
  margin-bottom: 98px;
}
