.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding: 0;
  padding-right: 23px;
  padding-left: 21px;

  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;

  font-size: 17px;
  line-height: 17px;
}

.site-nav__link {
  display: block;
  flex-grow: 1;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;

  text-align: center;

  color: #ffffff;
  background-color: #32425c;

  &:focus,
  &:hover {
    background-color: #293449;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
  }
}
