.user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-nav__btn {
  position: relative;

  display: block;

  margin: 0;
  margin-bottom: 7.7px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;

  text-transform: none;

  color: #000000;
  background-color: #ffffff;

  font-size: 21px;
  line-height: 21px;

  &:focus,
  &:hover {
    color: #ee3643;

    background-color: #ffffff;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
}

.user-nav__login {
  margin-left: 20px;
  padding-right: 26px;
  padding-left: 46px;
}

.user-nav__icon-login {
  position: absolute;
  top: 14px;
  left: 13px;

  width: 20px;
  height: 17px;

  fill: #c5c5c5;
}

.user-nav__login:focus .user-nav__icon-login,
.user-nav__login:hover .user-nav__icon-login {
  fill: #32425c;
}

.user-nav__login:active .user-nav__icon-login {
  fill: #c5c5c5;
}

.user-nav__registration {
  padding-right: 24px;
  padding-left: 24px;
}

.user-nav__user-name {
  width: 250px;
  padding-right: 17px;
  padding-left: 47px;

  &:focus,
  &:hover {
    color: #000000;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}


.user-nav__icon-user {
  position: absolute;
  top: 50%;
  left: 13px;

  width: 20px;
  height: 18px;

  transform: translateY(-50%);

  fill: #c5c5c5;
}

.user-nav__user-name:focus .user-nav__icon-user,
.user-nav__user-name:hover .user-nav__icon-user {
  fill: #32425c;
}

.user-nav__user-name:active .user-nav__icon-user {
  fill: #c5c5c5;
}

.user-nav__logout {
  width: 50px;
}

.user-nav__icon-logout {
  position: absolute;
  top: 50%;
  right: 10px;

  width: 20px;
  height: 17px;

  transform: translateY(-50%);

  fill: #c5c5c5;
}

.user-nav__logout:focus .user-nav__icon-logout,
.user-nav__logout:hover .user-nav__icon-logout {
  fill: #32425c;
}

.user-nav__logout:active .user-nav__icon-logout {
  fill: #c5c5c5;
}

.user-nav__links {
  display: flex;
  flex-wrap: wrap;

  padding-left: 18px;
}

.user-nav__link {
  position: relative;

  margin-right: 33px;

  text-decoration: underline;

  color: #32425c;

  font-size: 16px;
  line-height: 18px;

  &:hover,
  &:focus {
    color: #ee3643;
  }

  &:active {
    opacity: 0.3;
    color: #000000;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: -20px;

    display: block;

    width: 4px;
    height: 4px;

    content: "";
    transform: translateY(-50%);

    border-radius: 50%;
    background-color: #32425c;
  }

  &:last-child::after {
    display: none;
  }
}
